*{
    margin: 0;
    padding: 0;
}
header{
    /* border: solid black; */
    z-index: 2;
    display: flex; 
    align-items: center ;
    position: fixed; 
    width: 1300px; 
    height: 100px;
    background-color: white;
    box-sizing: border-box;
}
header a{
    font-size: 20px;  
    letter-spacing: 10px; 
    font-weight: 800;
    color:#474b22; 
    text-decoration: none;
}
header a.menu_title:hover{
    background-color: #DAECDC;
    color:rgb(20, 19, 19);
    border-bottom: none;
}
header.logo{
    /* border: solid blue; */
    width: 180px;
    position: relative;
    display: block;
    font-size: 0;
}
header .logo a img{
    height: 80px;
    font-size: 0;          
}
header .header_li{
    list-style: none; 
    display: flex; 
    margin-left: 28px; 
}
header .header_li li {
    padding: 0 35px;
    margin: 10px; 
    position: relative; 
}
header .icon{
    display: flex;
    position: absolute;
    top: 5px;
    left: auto; 
    right: 20px;          
}
header .search_icon, .QA_icon, .cart_icon{
    padding: 0 20px;
    font-size: 30px;
    color:#474b22; 
}
header .search_icon:hover, .QA_icon:hover, .cart_icon:hover{
    background-color: #DAECDC;
    color:rgb(20, 19, 19);
}
/* main{
    z-index: 1;
    position:relative;
    top: 90px;
    border: solid black;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    /* background-color: #8E97A1; */
/* } */ 

footer{
    z-index: 1;
    /* border: solid red; */
    width: 100%;
    height: 80px;
    position: relative;
    padding-top: 10px;
    margin-top: 88px;
    box-sizing: border-box;
}
footer section .myfooter{
    display: inline-block;
}
footer img{
    height: 60px;
    position: absolute;
    left: 0;
}
footer .contact_info{
    /* border: violet solid; */
    position: relative;
    text-align: center;
}
footer .box_1{
    display: inline-block;
    top: 3px;
    padding: 20px;
    color:#474b22;
    font-weight: bold;
    font-size: 14px;
}
footer #all_rights_reserve{
    position: relative;
    text-align: center;
    font-size: 12px;
    color:#474b22;
    font-weight: bold;
    bottom: 5px;
}

/* div.parent_container {
    width: 800px;
    margin: 0 auto;
    font-size: 0;
    box-sizing: border-box;
} */
/* .page_container{
    box-shadow: 0 2px 8px 0 rgb(0 0 0 / 8%);
    padding: 40px 24px;
    width: 600px;
    max-width: 400px;
    margin: 50px auto;
    line-height: 2;
} */

aside.aside {
    margin-top: 85px;
    position: sticky;
    top: 100px;
}
button {
    z-index: 1;
    cursor: pointer;
    position: relative;
    font-family: Open Sans,Arial,sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    height: 30px;
    border: 1px solid;
    border-radius: unset;
    padding: 0 15px;
    line-height: 30px;
    vertical-align: middle;
    touch-action: manipulation;
    user-select: none;
    transition: all .2s cubic-bezier(.25,.46,.45,.94);
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
}

/* div.parent_container{
    
} */

aside.aside, main.main{
    display: inline-block;
    vertical-align: top;
    font-size: 1rem; /* 16px */
    box-sizing: border-box;
    margin-top: 85px;
    /* : 100px; */
}
  

div.parent_container main.main{
    width: calc(100% - 200px - 20px);
}

nav {
    white-space: nowrap;
    background-color: cadetblue;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* nav ul ul li{
    display: block;
    padding: 0.5rem 1rem;
    color: white;
    text-decoration: none;
} */

nav ul li a, nav ul ul {
    display: block;
    padding: 0.5rem 1rem;
    color: white;
    text-decoration: none;
}

nav ul li a.current {
    background-color: black;
}

section {
    padding: 2rem;
    margin: 0 0 2rem 0;
    position: relative;
}