*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    /* border: solid black; */
    z-index: 2;
    display: flex; 
    align-items: center ;
    position: fixed; 
    width: 100% ; 
    background-color: white;
    box-sizing: border-box;
}
header a{
    font-size: 20px;  
    letter-spacing: 10px; 
    font-weight: 800;
    color:#474b22; 
    text-decoration: none;
}
header a.menu_title:hover{
    background-color: #DAECDC;
    color:rgb(20, 19, 19);
    border-bottom: none;
}
header.logo{
    /* border: solid blue; */
    width: 180px;
    position: relative;
    display: block;
    font-size: 0;
}
header .logo a img{
    height: 80px;
    font-size: 0;          
}
header .header_li{
    list-style: none; 
    display: flex; 
    margin-left: 28px; 
}
header .header_li li {
    padding: 0 35px;
    margin: 10px; 
    position: relative; 
}
header .icon{
    display: flex;
    position: absolute;
    top: 5px;
    left: auto; 
    right: 20px;          
}
header .search_icon, .QA_icon, .cart_icon{
    padding: 0 20px;
    font-size: 30px;
    color:#474b22; 
}
header .search_icon:hover, .QA_icon:hover, .cart_icon:hover{
    background-color: #DAECDC;
    color:rgb(20, 19, 19);
}
main{
    z-index: 1;
    position:relative;
    top: 90px;
    border: 1px solid white;
    background-color: white;
    box-sizing: border-box;
    width: 100%;
}
footer{
    z-index: 1;
    /* border: solid red; */
    width: 100%;
    height: 80px;
    position: relative;
    padding-top: 10px;
    margin-top: 88px;
    box-sizing: border-box;
}
footer section .myfooter{
    display: inline-block;
}
footer img{
    height: 60px;
    position: absolute;
    left: 0;
}
footer .contact_info{
    /* border: violet solid; */
    position: relative;
    text-align: center;
}
footer .box_1{
    display: inline-block;
    top: 3px;
    padding: 20px;
    color:#474b22;
    font-weight: bold;
    font-size: 14px;
}
footer #all_rights_reserve{
    position: relative;
    text-align: center;
    font-size: 12px;
    color:#474b22;
    font-weight: bold;
    bottom: 5px;
}
.page_container{
    box-shadow: 0 2px 8px 0 rgb(0 0 0 / 8%);
    padding: 0 24px;
    max-width: 400px;
    min-height: 475px;
    margin: 50px auto;
    text-align: center;
}
.title {
    padding-top: 20px;
    padding-bottom: 5px;
    margin: 5px;
}
.td_input {
    width: 250px;
    height: 40px;
    border: 1px solid gray;
    margin: 5px auto;
    display: block;
    text-align: left;
    font-size: 16px;
    padding: 8px;
    position: relative;
    left: 50px;
}
.td_input:hover, .td_input:focus {
    border: 2px solid #466422;
}
.input_btn{
    width: 120px;
    height: 40px;
    background: #9FA879;
    color: white;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    margin: 8px 30px 8px 0px;  
    border: none;
    font-size: 16px;
}
.input_btn:hover {
    background: #466422;
    border: none;
}
button.third_party_login_btn {
    border: 1px solid gray;
    width: 250px;
    height: 40px;
    background-color: white;
    margin: 5px;
    font-size: 16px;
}
button.third_party_login_btn:hover{
    cursor: pointer;
    background-color: #DAECDC;
}
.third_party_login_span {
    color: gray;
}
.a {
    color:#466422;
    font-size: 16px;
    margin: 8px 30px 8px 0px; 
}
#register_account{
    margin: 10px auto;
}
h2 {
    font-size: 32px;
}

