*{
	margin:0px;
	padding:0px;
	list-style:none;
	outline:none;
	box-sizing: border-box;
}

.html_flexdiv{
    position: fixed;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
	background-image: linear-gradient(to top, #fff1eb 0%, #DAECDC 100%);
	}

.html_div_flexContent{
	display:flex;
	justify-content: center;
	flex-flow: column;
	width:100%;
	height:100%;
	
}

main label{
	margin:25px 0px 0px 15px;
	font-size:24px;
}
main input{
	border:none;
	outline:none;
	font-size:24px;
	margin-right:10px;
}
ul{
	display:flex;
}
ul li{
	float:left;
	justify-content: space-between;
	margin:0px auto;
	font-size:18px;
}
main .main_div_admindiv{
	display:flex;
	flex-direction: center;
	flex-flow: column;
	justify-content: space-between;
	width:360px;
	height:460px;
	margin:146px auto;
	padding:50px 0px 0px 15px;
	background-color: white;
	border-radius: 0% 12% 12% 12%;
	box-shadow: 4px 5px #94ba87;
	
}
.form_input_UserCP,.form_input_submitBtn{
	margin:10px 20px 3px 20px;
	width:85%;
	height:30px;
	background-color: white;
}
.form_input_submitBtn{
background-image: linear-gradient(to top, lightgrey 0%, lightgrey 1%, #e0e0e0 26%, #efefef 48%, #d9d9d9 75%, #bcbcbc 100%);	border-radius: 20px;
}
.form_input_submitBtn:hover{
	box-shadow:3px 3px greenyellow;
}

.form_input_UserCP{
	border-radius:5px;
	border: gray solid;
	font-size:18px;
}
.main_form_fakediv{
	position:relative;
	font-size: 12px;
	color:gray;
	/* background-color: white; */
	text-align: center;
}
.main_form_fakediv::before{
	left:45px;
}

.main_form_fakediv::after{
	right:45px;
}

.main_form_fakediv::before,.main_form_fakediv::after
{
	content:"";
	position:absolute;
	top:8px;
	background-color: darkgray;
	height:2px;
	width:70px;
}

.body_main_header{
	display: flex;
	position: relative;
	justify-content: center;
}

.body_main_header_logodiv{
	position:absolute;
	margin:60px 300px 0px 0px;
	width:180px;
	height:120px;
	background-image: url(../img/EHlogo.png);
	background-size: 180px 120px;
	border-radius:20px 20px 0px 20px;
	/* overflow:hidden; */
	box-shadow: 5px 5px orange;
}
.body_main_header_logodiv::after{
	font-weight: bold;
	content:"管理者登入頁面";
	width:380px;
	height:50px;
	display:block;
	position:absolute;
	font-size:38px;
	top:35px;
	left:200px;
	box-shadow:0px 7px orangered;
	
}

.mainbox .list{
	font-size:18px;
}
.respMsg{
	position:sticky;
	color:red;
	font-size:18px;
	font-weight: 700;
	margin-left:20px;
}