*{
	margin:0;
	padding:0;
	list-style: none;
	box-sizing: border-box;
}
.stage1::after{
	content:"日誌檢舉管理";
	margin-left:20px;
	font-size:20px;
}
.icon-controller-play{
	display:inline-block;
	color:black;
	margin-left:10px;
	font-size: 20px;
}

table {
	border-spacing: 0;
	width: 100%;
	table-layout: fixed;
	word-break: break-all;
}

tr {
	text-align: center;
	height: 65px;
}

td {
	/* color: red; */
	text-overflow: ellipsis;
	/* 將顯示不完的以...顯示 */
	white-space: nowrap;
	/* 禁止td換行 */
	overflow: hidden;
	/* 隱藏X,Y滾動條 */
	border-bottom: 1px solid black;

}

th {
	padding: 10px;
}

table tbody tr:nth-child(odd) {
	background-color: #eee
}

table th{
	background-color: #8CE600;
	color: white;
	font-size: 18px;
	font-weight: bolder;
}

/* table tbody tr:last-child td:first-child {
	border-radius: 0 0 0 5px;
}

table tbody tr:last-child td:last-child {
	border-radius: 0 0 5px 0;
} */

nav ul {
	margin-top: 20px;
	font-size: 24px;
	font-weight: bolder;
	color: white;
	text-align: center;
	}
	
	nav ul li {
		margin-bottom: 15px;
	}
	
	nav ul li a {
		text-decoration: none;
		color: white;
	}
	
	nav ul ul {
		display: none;
		margin: 0px;
	}
	
	nav ul li:hover>ul {
		display: block;
	}
	
	nav ul ul li {
		margin-top: 5px;
		margin-bottom: 5px;
	}
	
	nav ul ul li a {
		position: absolute;
		float: none;
		left: 70px;
		font-size: 16px;
		color: red;
		text-decoration: none;
	}
	
table th:first-child {
	border-radius: 5px 0 0 0;
	border: 1px solid #8CE600;
}

table th:last-child {
	border-radius: 0 5px 0 0;
	border-right: 1px solid #8CE600;
}

.btnClaz{

	width:80px;
	height:35px;
	
}

.showDiary{
	position: fixed;
	right:5px;
	bottom:5px;
	border:0px solid white;
	width:0px;
	height:0px;
	box-sizing: border-box;
	z-index:20;
	-webkit-transition: background .5s linear;
	transition: background .5s linear, width 0.5s ease-in,height 0.5s ease-in;
	
}
.sdType{
	color:whitesmoke;
	padding:10px;
	font-weight: 700;
}

.tranToBigdv {
	display: block;
	width:27%;
	height:88%;
	background-color:#b97104;
	opacity: 90%;
	border:3px solid #96ad10b4;
	box-shadow: 18px 18px 18px 18px #315018b0;

	}
.tranTosmdv {
	width:0px;
	height:0px;
	}

	.picSize{
		margin:0px auto;
		width:280px;
		height:240px;
	}