@import url("header_footer.css");


main {
    z-index: 1;
    position:relative;
    top: 90px;
    /* border: solid black; */
    box-sizing: border-box;
    width: 100%;
    height: 1000px;
    background-color:rgb(227, 235, 226);
}
.article{
    box-sizing: border-box;
    font-weight: bold;
    width: 90%;
    margin: 10px 60px;
    /* border: solid black; */
    height: 90%;
    background-color: white;
    border-radius: 10px;
    padding: 30px;
}
.article_title{
    /* border: solid black; */
    display: block;
}
.article_info{
    margin: 10px 0;
    align-items: center;
    display: inline-block;
    color: rgb(146, 145, 145);
    font-size: 14px;
    
}
.info_item{
    padding-right: 30px;
}
.like_share_btn{
    margin: 10px 0;
    display: inline-block;
    position: absolute;
    right: 100px;
    font-size: 14px;
    
}
.like_btn, .share_btn{
    display: inline-block;
    padding-right: 30px;
    border-radius: 5px;
    cursor: pointer;
    color: #4b4848;
    /* border: solid blue;             */
}
.like_btn:hover, .share_btn:hover{
    background-color: rgb(245, 245, 245);
}
.main_article{
    /* border: solid black; */
    height: 90%;
    text-align: center;
    font-size: 24px;
    margin: 56px;
}